{% extends 'index.html' %} {% block title %}Breeding Program{% endblock %} {%
block content %}
<h1>Breeding Program</h1>
<span id="uid"></span>
<div id="details">Register breed program</div>

<section class="dashboard-cards">
  <div class="card" ? : onclick="displayFormInfo()">
    <div class="card-body">
      <div id="infoDisplay" style="margin-top: 40px"></div>
    </div>
  </div>
</section>

<script>
  let focusedField = "uid"; // Track the focused input field
  let lastUID = ""; // Store the last UID to avoid unnecessary updates
  let partnerUIDcount = 1;

  // Set the currently focused field when an input is clicked
  function setFocusedField(field) {
    focusedField = field;
  }

  async function fetchUID() {
    const response = await fetch("/latest_uid");
    const data = await response.json();
    const uid = data.uid || "No UID scanned";

    // Only update the field if a new UID is scanned and it hasn't been set before
    if (uid !== "No UID scanned" && uid !== lastUID) {
      document.getElementById(focusedField).value = uid;
      lastUID = uid; // Update the lastUID to avoid duplicate updates

      // Fetch and display goat details only for the first UID field
      if (focusedField === "uid") {
        const detailsResponse = await fetch(`/uid_details/${uid}`);
        const details = await detailsResponse.json();
        displayDetails(details);
      }
    }
  }

  function displayDetails(details) {
    if (details) {
      const programDate = details.program_date
        ? new Date(details.program_date).toISOString().slice(0, 16)
        : "";
      const pregnancyCheckDate = details.pregnancy_check_date
        ? new Date(details.pregnancy_check_date).toISOString().slice(0, 16)
        : "";
      const expectedBirthDate = details.expected_birth_date
        ? new Date(details.expected_birth_date).toISOString().slice(0, 16)
        : "";

      document.getElementById("details").innerHTML = `
        <form id="goatForm" action="/add_breeding" method="POST">
          <div>
            <label for="uid">Goat ID</label>
            <input type="text" id="uid" name="uid" onclick="setFocusedField('uid')" value="${
              details.uid
            }" readonly>
          </div>
          <div>
          <div id="partnerFields">
            <label for="partner_uid">Partner Goat ID</label>
            <input type="text" id="partner_uid_1" name="partner_uid[]" onclick="setFocusedField('partner_uid_1')" value="${
              details.partner_uid
            }" readonly>
          </div>
          <div class="btn_partner_container">
            <div class="add_partner">
              <button type="button" onclick="addPartnerUIDField()">Add Goat Partner</button>
            </div>
            <div class="remove_partner">
              <button type="button" onclick="removePartnerUIDField()">Remove Goat Partner</button>
            </div>
          </div>
          </div>
          <div>
            <label for="program_date">Program Date</label>
            <input type="datetime-local" id="program_date" name="program_date"
            value="${programDate}">
          </div>
          <div>
            <label for="pregnancy_check_date">Pregnancy Check Date</label>
            <input type="datetime-local" id="pregnancy_check_date" name="pregnancy_check_date"
            value="${pregnancyCheckDate}" readonly>
          </div>
          <div>
            <label for="expected_birth_date">Expected Birth Date</label>
            <input type="datetime-local" id="expected_birth_date" name="expected_birth_date"
            value="${expectedBirthDate}" readonly>
          </div>
          <div class="breed-goat-register">
                    <label for="breeding_method">Breeding Method</label>
                    <select id="breeding_method" name="breeding_method" class="form-select">
                        <option value="Artificial insemination (AI)" ${
                          details.breeding_method ===
                          "Artificial insemination (AI)"
                            ? "selected"
                            : ""
                        }>
                            Artificial insemination (AI)
                        </option>
                        <option value="Pan mating" ${
                          details.breeding_method === "Pan mating"
                            ? "selected"
                            : ""
                        }>Pan mating</option>
                        <option value="ET" ${
                          details.breeding_method === "ET" ? "selected" : ""
                        }>ET</option>
                    </select>
                </div>
          <div>
            <button type="button" onclick="displayFormInfo()">Display Information</button>
            <button type="submit">Register</button>
          </div>
          <div class="view-back-container">
            <a href="{{url_for('view_breeding')}}" class="link-view-back">View</a>
          </div>
        </form>`;

      // Set event listener for program date change
      document
        .getElementById("program_date")
        .addEventListener("change", calculateDates);
    } else {
      document.getElementById("details").innerHTML =
        "<p>No details available</p>";
    }
  }

  function displayFormInfo() {
    const uid = document.getElementById("uid").value;
    const partnerUIDs = Array.from(
      document.querySelectorAll('input[name="partner_uid[]"]')
    ).map((input) => input.value);
    const programDate = document.getElementById("program_date").value;
    const pregnancyCheckDate = document.getElementById(
      "pregnancy_check_date"
    ).value;
    const expectedBirthDate = document.getElementById(
      "expected_birth_date"
    ).value;
    const breedingMethod = document.getElementById("breeding_method").value;

    const infoDisplay = `
      <h1>GOAT DETAILS BREEDING</h1>
      <p><strong>Goat ID:</strong> ${uid}</p>
      <p><strong>Partner Goat IDs:</strong> ${partnerUIDs.join(", ")}</p>
      <p><strong>Program Date:</strong> ${programDate}</p>
      <p><strong>Pregnancy Check Date:</strong> ${pregnancyCheckDate}</p>
      <p><strong>Expected Birth Date:</strong> ${expectedBirthDate}</p>
      <p><strong>Breeding Method:</strong> ${breedingMethod}</p>
    `;

    document.getElementById("infoDisplay").innerHTML = infoDisplay; // Display the gathered information
  }

  function removePartnerUIDField() {
    if (partnerUIDcount > 1) {
      const partnerFields = document.getElementById("partnerFields");
      const lastPartnerField = document.getElementById(
        `partner_uid_${partnerUIDcount}`
      );

      if (lastPartnerField) {
        partnerFields.removeChild(lastPartnerField.parentElement);
        partnerUIDcount--;
      }
    } else {
      alert("At least one partner must remain ");
    }
  }

  function addPartnerUIDField() {
    partnerUIDcount++;
    const partnerFields = document.getElementById("partnerFields");
    const newPartnerFields = document.createElement("div");

    newPartnerFields.innerHTML = `<label for="partner_uid_${partnerUIDcount}">Partner Goat ID ${partnerUIDcount}</label>
    <input type="text" id="partner_uid_${partnerUIDcount}" name="partner_uid[]" onclick="setFocusedField('partner_uid_${partnerUIDcount}')" value=${details.partner_uid}>`;

    partnerFields.appendChild(newPartnerFields);
  }

  // Fetch UID every 2 seconds (2000ms) and insert it into the focused input
  setInterval(fetchUID, 1000);

  function calculateDates() {
    const programDateInput = document.getElementById("program_date").value;

    if (programDateInput) {
      const programDate = new Date(programDateInput);

      // Calculate pregnancy check date after 30 days
      const pregnancyCheckDate = new Date(programDate);
      pregnancyCheckDate.setDate(pregnancyCheckDate.getDate() + 30);
      const formattedPregnancyDate = pregnancyCheckDate
        .toISOString()
        .slice(0, 16);

      // Calculate expected birth date after 150 days
      const expectedBirthDate = new Date(programDate);
      expectedBirthDate.setDate(expectedBirthDate.getDate() + 150);
      const formattedBirthDate = expectedBirthDate.toISOString().slice(0, 16);

      // Update the input fields with calculated dates
      document.getElementById("pregnancy_check_date").value =
        formattedPregnancyDate;
      document.getElementById("expected_birth_date").value = formattedBirthDate;
    } else {
      // Clear the pregnancy and expected birth date fields if program date is empty
      document.getElementById("pregnancy_check_date").value = "";
      document.getElementById("expected_birth_date").value = "";
    }
  }
</script>

{% endblock %}
