{% extends 'vet.html' %} {% block title %}View Goat Health Details{% endblock %}
{% block content %}
<h1>View Goat Health Details</h1>

{% if healths %}
<div class="details">
  <table>
    <thead>
      <tr>
        <th>UID</th>
        <th>Treatment</th>
        <th>Vaccination</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for health in healths%}
      <tr>
        <td>{{health.uid}}</td>
        <td>{{health.treatment_form}}</td>
        <td>{{health.vaccination_form}}</td>
        <td class="action">
          <a href="{{url_for('vet_editHealth', id=health.uid)}}" class="edit"
            >Edit</a
          >
          <a
            href="{{url_for('vet_deleteHealth', id=health.uid)}}"
            class="delete"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>No health status found.</p>
{% endif %}

<div class="view-back-container">
  <a href="{{url_for('vet_health')}}" class="link-view-back"
    >Back to Registration</a
  >
</div>
{% endblock %}
